<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Upbit 코인 실시간 모니터</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">Upbit 코인 실시간 체결금액 모니터링</h2>
    <a href="/alltrend" class="btn btn-primary mb-3">체결트렌드 모니터링</a>

</div>

<!-- jQuery, DataTables JS -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</body>
</html>
